.wrapper {

  h2 {
    font-size: 18px;
  }

  width: 400px;
  padding: 20px;
  border: 1px solid grey;
  margin-bottom: 40px;
}

.color-label {
  margin-right: 10px;
}

.join-button {
  margin-top: 20px;
}
