<div class="card-wrapper">

  <div class="loading-container">
    <mat-progress-bar *ngIf="isLoading"  mode="indeterminate"></mat-progress-bar>
  </div>

  <h1>Actions</h1>
  <button mat-flat-button (click)="drawCards()">Draw Cards</button>
  <button mat-flat-button (click)="dealCommunityCard()">Deal Community Card</button>
  <button mat-flat-button (click)="burnCard()">Burn Card</button>
  <button mat-flat-button (click)="shuffle()">Reset</button>

  <div *ngIf="deck">
    <h1>Current Deck</h1>
    <ul>
      <li>Deck ID: {{deckId}}</li>
      <li>Cards Remaining: <strong>{{deck.remaining}}</strong></li>
      <li>Burned Cards: {{burnedCards}}</li>
    </ul>
  </div>

  <div *ngIf="communityCards?.length > 0 || burnedCards > 0" class="community-card-container">

    <h1>Community Cards</h1>

    <div class="community-card-container">
      <img *ngFor="let card of communityCards" class="card card-front"  src="{{card.image}}" alt="Public Card">
    </div>

    <div class="burned-cards-container">
      <img class="card card-back" src="assets/images/cardBackRed.jpg" alt="Burned Card">
      <span class="burn-count">x {{burnedCards}}</span>
    </div>
  </div>

  <div *ngIf="privateCards">

    <h1>Your Cards</h1>

    <div class="private-card-container">
      <img *ngFor="let card of privateCards?.cards" class="card card-front" src="{{card.images.png}}" alt="Your Card">
    </div>
  </div>

  <div class="history-container">
    <h1>History</h1>
    <ul>
      <li *ngFor="let history of historyLog">{{history}}</li>
    </ul>
  </div>

</div>
