.card-wrapper {
  padding: 20px;
}

button {
  margin-right: 8px;
}

.card-container img {
  margin: 0 10px;
}

.burned-cards-container {
  display: flex;
  align-items: center;
}

.burn-count {
  font-size: 40px;
}

.card-back {
  width: 226px;
  height: 314px;
}

.loading-container {
  margin-top: 10px;
  min-height: 10px;
}

.card {
  padding: 10px;
}
