<div class="poker-chip red">
  <div>5</div>
</div>

<div class="poker-chip orange">
  <div>20</div>
</div>

<div class="poker-chip green">
  <div>100</div>
</div>

<div class="poker-chip blue">
  <div>10</div>
</div>

<div class="poker-chip blue disabled">
  <div>10</div>
</div>

<div class="poker-chip black">
  <div>1000</div>
</div>

<div class="poker-chip gray">
  <div>Pot</div>
</div>

<div class="poker-chip brown">
  <div>2000</div>
</div>

<div class="poker-chip burgundy">
  <div>5000</div>
</div>

<div class="poker-chip lightblue">
  <div>10000</div>
</div>

<div class="poker-chip pink">
  <div>25,000</div>
</div>

<div class="poker-chip purple">
  <div>50,000</div>
</div>
