<div class="chip-showcase-container">

  <div class="chip-group">
    <h1>Chip ShowCase</h1>
    <app-poker-chip value="1" color="red"></app-poker-chip>
    <app-poker-chip value="5" color="yellow"></app-poker-chip>
    <app-poker-chip value="10" color="black"></app-poker-chip>
    <app-poker-chip value="20" color="orange"></app-poker-chip>
    <app-poker-chip value="100" color="green"></app-poker-chip>
    <app-poker-chip value="1000" color="blue"></app-poker-chip>
    <app-poker-chip value="2,000" color="brown"></app-poker-chip>
    <app-poker-chip value="5,000" color="burgundy"></app-poker-chip>
    <app-poker-chip value="1,0000" color="lightblue"></app-poker-chip>
    <app-poker-chip value="25,000" color="pink"></app-poker-chip>
    <app-poker-chip value="50,000" color="purple"></app-poker-chip>
    <app-poker-chip value="100,000" color="gray"></app-poker-chip>
  </div>
  <p>
    source:
    <a href="https://codepen.io/Rovak/pen/ExYeQar">https://codepen.io/Rovak/pen/ExYeQar</a>
  </p>

</div>
