<div class="players">


  <div *ngFor="let player of players">
    <div class="player player-{{player.playerNumber}}"
         [ngClass]="{ 'playing': player.isActive, 'my-avatar': uid === player?.uid }">

      <div class="avatar" [ngStyle]="{ 'background-color': player.color}"></div>
      <div class="name">{{player.name}}</div>

      <!-- Player Bank -->
      <div class="bank" *ngIf="player.bankValue > 0">
        <div class="bank-value">{{player.bankValue}}</div>
        <div class="tokens v-10"></div>
        <div class="tokens v-5"></div>
        <div class="tokens v-1"></div>
      </div>

      <!-- Player Stake -->
      <div class="stake" *ngIf="player.stakeValue > 0">
        <div class="stake-value">
          {{player.stakeValue}}
        </div>
<!--        <div class="token-10">-->
<!--          <div class="tokens v-10" style="top: -2px;"></div>-->
<!--          <div class="tokens v-10" style="top: 3px;"></div>-->
<!--        </div>-->
<!--        <div class="token-5"></div>-->
<!--        <div class="token-1"></div>-->
      </div>

      <div style="min-height: 70px;">

        <ng-container  *ngIf="player.hasCards && player?.cards?.length === 0">
          <img class="card card-back burned-card"
               src="assets/images/cardBackRed.jpg" alt="Burned Card">
          <img class="card card-back burned-card"
               src="assets/images/cardBackRed.jpg" alt="Burned Card">
        </ng-container>

        <ng-container *ngIf="player.cards">
            <div *ngFor="let card of player.cards" class="card figures-{{card.suit}}" >
              <h1>{{card.value}}</h1><div class="figures {{card.suit}}"></div>
            </div>
        </ng-container>

      </div>


    </div>

  </div>

</div>
