<div class="table-container">

  <div class="table">
    <div class="card-place">

      <div class="card figures-C values-2">
        <h1>2</h1><div class="figures C"></div><h1>2</h1>
      </div>

      <div class="card figures-D values-7">
        <h1>7</h1><div class="figures D"></div><h1>7</h1>
      </div>

      <div class="card figures-H values-1">
        <h1>1</h1><div class="figures H"></div><h1>1</h1>
      </div>

      <div class="card figures-D values-4">
        <h1>4</h1><div class="figures D"></div><h1>4</h1>
      </div>

      <div class="card figures-P values-2">
        <h1>2</h1><div class="figures P"></div><h1>2</h1>
      </div>

    </div>


    <div class="players">

      <div class="player player-1">
        <div class="bank">
          <div class="bank-value">80</div>
          <div class="tokens v-10"></div>
          <div class="tokens v-5"></div>
          <div class="tokens v-1"></div>
        </div>
        <div class="avatar" style="background-color: cyan;"></div>
        <div class="name">Player 1</div>
        <div class="stake">
          <div class="stake-value">
            20
          </div>
          <div class="token-10">
            <div class="tokens v-10" style="top: -2px;"></div>
            <div class="tokens v-10" style="top: 3px;"></div>
          </div>
          <div class="token-5"></div>
          <div class="token-1">
            <!---->
          </div>
        </div>
      </div>

      <div class="player player-2">
        <div class="bank">
          <div class="bank-value">80</div>
          <div class="tokens v-10"></div>
          <div class="tokens v-5"></div>
          <div class="tokens v-1"></div>
        </div>
        <div class="avatar" style="background-color: gold;"></div>
        <div class="name">Player 2</div>
        <div class="stake">
          <div class="stake-value">
            20
          </div>
          <div class="token-10">
            <div class="tokens v-10" style="top: -2px;"></div>
            <div class="tokens v-10" style="top: 3px;"></div>
          </div>
          <div class="token-5"></div>
          <div class="token-1">
            <!---->
          </div>
        </div>
      </div>

      <div class="player player-3">
        <div class="bank">
          <div class="bank-value">80</div>
          <div class="tokens v-10"></div>
          <div class="tokens v-5"></div>
          <div class="tokens v-1"></div>
        </div>
        <div class="avatar" style="background-color: lightcoral;"></div>
        <div class="name">Player 3</div>
        <div class="stake">
          <div class="stake-value">
            20
          </div>
          <div class="token-10">
            <div class="tokens v-10" style="top: -2px;"></div>
            <div class="tokens v-10" style="top: 3px;"></div>
          </div>
          <div class="token-5"></div>
          <div class="token-1">
            <!---->
          </div>
        </div>
      </div>

      <div class="player player-4">
        <div class="bank">
          <div class="bank-value">80</div>
          <div class="tokens v-10"></div>
          <div class="tokens v-5"></div>
          <div class="tokens v-1"></div>
        </div>
        <div class="avatar" style="background-color: rgb(68, 68, 68);"></div>
        <div class="name">Player 4</div>
        <div class="stake">
          <div class="stake-value">
            20
          </div>
          <div class="token-10">
            <div class="tokens v-10" style="top: -2px;"></div>
            <div class="tokens v-10" style="top: 3px;"></div>
          </div>
          <div class="token-5"></div>
          <div class="token-1">
            <!---->
          </div>
        </div>
      </div>

      <div class="player player-5 playing">
        <div class="bank">
          <div class="bank-value">23</div>
          <div class="tokens v-10"></div>
          <div class="tokens v-5"></div>
          <div class="tokens v-1"></div>
        </div>
        <div class="avatar" style="background-color: dodgerblue;"></div>
        <div class="name">Player 5</div>
        <div class="stake">
          <div class="stake-value">
            77
          </div>
          <div class="token-10">
            <div class="tokens v-10" style="top: -2px;"></div>
            <div class="tokens v-10" style="top: 3px;"></div>
            <div class="tokens v-10" style="top: 8px;"></div>
            <div class="tokens v-10" style="top: 13px;"></div>
            <div class="tokens v-10" style="top: 18px;"></div>
            <div class="tokens v-10" style="top: 23px;"></div>
            <div class="tokens v-10" style="top: 28px;"></div>
          </div>
          <div class="token-5">
            <div class="tokens v-5" style="top: -2px;"></div>
            <div class="tokens v-5" style="top: 3px;"></div>
            <div class="tokens v-5" style="top: 8px;"></div>
          </div>
          <div class="token-1">
            <div class="tokens v-1"></div>
          </div>
        </div>
      </div>

      <div class="player player-7">
        <div class="bank">
          <div class="bank-value">80</div>
          <div class="tokens v-10"></div>
          <div class="tokens v-5"></div>
          <div class="tokens v-1"></div>
        </div>
        <div class="avatar" style="background-color: crimson;"></div>
        <div class="name">Player 7</div>
        <div class="stake">
          <div class="stake-value">
            20
          </div>
          <div class="token-10">
            <div class="tokens v-10" style="top: -2px;"></div>
            <div class="tokens v-10" style="top: 3px;"></div>
          </div>
          <div class="token-5"></div>
          <div class="token-1">
            <!---->
          </div>
        </div>
      </div>

      <div class="player player-8">
        <div class="bank">
          <div class="bank-value">80</div>
          <div class="tokens v-10"></div>
          <div class="tokens v-5"></div>
          <div class="tokens v-1"></div>
        </div>
        <div class="avatar" style="background-color: forestgreen;"></div>
        <div class="name">Player 8</div>
        <div class="stake">
          <div class="stake-value">
            20
          </div>
          <div class="token-10">
            <div class="tokens v-10" style="top: -2px;"></div>
            <div class="tokens v-10" style="top: 3px;"></div>
          </div>
          <div class="token-5"></div>
          <div class="token-1">
            <!---->
          </div>
        </div>
      </div>

      <div class="player player-6">
        <div class="bank">
          <div class="bank-value">80</div>
          <div class="tokens v-10"></div>
          <div class="tokens v-5"></div>
          <div class="tokens v-1"></div>
        </div>
        <div class="avatar" style="background-color: goldenrod;"></div>
        <div class="name">Player 6</div>
        <div class="stake">
          <div class="stake-value">
            20
          </div>
          <div class="token-10">
            <div class="tokens v-10" style="top: -2px;"></div>
            <div class="tokens v-10" style="top: 3px;"></div>
          </div>
          <div class="token-5"></div>
          <div class="token-1">
            <!---->
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<p>
  source: <a href="https://codepen.io/Rovak/pen/ExYeQar">https://codepen.io/Rovak/pen/ExYeQar</a>
</p>
