<div class="loading-container">
  <mat-progress-bar *ngIf="isLoading"  mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="game">

  <div class="actions">
    <button [disabled]="players?.length >= 8" mat-flat-button (click)="joinGame()">Join Game</button>
    <button mat-flat-button (click)="drawCards()">Draw Cards</button>
    <button mat-flat-button (click)="dealCommunityCard()">Deal Community Card</button>
    <button mat-flat-button (click)="burnCard()">Burn Card</button>
    <button mat-flat-button (click)="shuffleDeck()">Reset</button>
  </div>


  <ul>
    <li>User UID: {{uid}}</li>
    <li>Deck ID: {{game.deckId}}</li>
    <li>Cards Remaining: <strong>{{game.cardsRemaining}}</strong></li>
    <li>Burned Cards: {{game.burnedCards}}</li>
  </ul>

  <!-- Poker Table -->
  <div class="table-container">

    <div class="table">

      <div class="card-place">

        <div *ngFor="let card of game.communityCards" class="card figures-{{card.suit}}">
          <h1>{{card.value}}</h1>
          <div class="figures {{card.suit}}"></div>
          <h1>{{card.value}}</h1>
        </div>

      </div>
      <app-player-display [players]="players"></app-player-display>
    </div>
  </div>

  <div *ngIf="privateCards">

    <h1>Your Cards</h1>

    <div class="private-card-container">
      <img *ngFor="let card of privateCards?.cards" class="card-img card-front" src="{{card.images.png}}" alt="Your Card">
    </div>
  </div>

  <p>
    source: <a href="https://codepen.io/Rovak/pen/ExYeQar">https://codepen.io/Rovak/pen/ExYeQar</a>
  </p>

  <app-game-history [history]="game.history"></app-game-history>

</div>
